<h1>Welcome to {{ title }}</h1>

<p>Take a look at our current menu selection:</p>

<table>
  <tr>
    <th>Items</th>
    <th>Category</th>
    <th>Price</th>
    <th>Rating</th>
    <th>Recommendations</th>
  </tr>
  <tr *ngFor="let i of allItems">
    <td>{{ i.itemName }}</td>
    <td>{{ i.itemType }}</td>
    <td>${{ i.itemPrice }}</td>
    <td>{{ i.itemRating }} out of 10</td>
    <td *ngIf="i.recommend">Customer Favorite's</td>
    <td *ngIf="!i.recommend">It's up to you but I wouldn't</td>
  </tr>
</table>